<GeneralContainer>
  <div class="product item-details-page">
    <Product::Image />
    <Product::Details />
  </div>
  <h5 class="mt-5">Features</h5>
  <ul class="mt-5">
    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi officia provident maiores beatae accusantium
      vitae!</li>
    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi officia provident maiores beatae accusantium
      vitae!</li>
    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi officia provident maiores beatae accusantium
      vitae!</li>
    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi officia provident maiores beatae accusantium
      vitae!</li>
    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi officia provident maiores beatae accusantium
      vitae!</li>
  </ul>

</GeneralContainer>